<mat-card class="user-detail-header">
    <div class="user-detail-container">
        <img src="./assets/img/1.webp">
        <div class="user-details">
            <h2>{{ currentCompany.name }}</h2>
            <span>{{ currentCompany.email }}</span>
            <span>{{ currentCompany.phone}}
            </span>
        </div>
    </div>
</mat-card>

<mat-card class="user-detail-address">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="edit-user-button">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="editCompany()" mat-menu-item>Edit</button>
    </mat-menu>
    <mat-card-title>Address</mat-card-title>
    <span>{{ currentCompany.street }}</span>
    <span>{{ currentCompany.zipcode }} {{ currentCompany.city }}</span>
</mat-card>
